@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");

@mixin sp-layout {
  @media screen and (max-width: 750px) {
    @content;
  }
}

@mixin pc-layout {
  @media screen and (min-width: 751px) {
    @content;
  }
}

.ben-header {
  .menu {
    .menu-inner {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      .gallery {
        width: 40%;
        display: flex;
        background-color: #fff;
        .title-menu {
          width: 82%;
          padding-top: 120px;
          .text {
            --c: linear-gradient(#1a1a1a 0 0); /* update the color here */
            background: var(--c), var(--c);
            background-size: 0.3em 0.1em;
            background-position: 50% 100%;
            background-repeat: no-repeat;
            transition: 0.3s linear, background-size 0.3s 0.2s linear;
          }
          .text:hover {
            background-size: 40% 0.1em;
            background-position: 10% 100%, 90% 100%;
          }
          /**/
          [class] {
            display: table;
            vertical-align: middle;
          }
          .contact {
            margin-top: 250px;
            transform: translateY(100%);
          }
          .home {
            transform: translateY(-100%);
          }
          .services {
            transform: translateX(-100%);
          }
          .about {
            transform: translateX(100%);
          }
          .text {
            font-size: 16px;
            line-height: 100%;
            text-transform: capitalize;
            font-family: futura;
            cursor: pointer;
            color: #1a1a1a;
            overflow: hidden;
            height: 18px;
            margin-left: 96px;
            margin-bottom: 20px;
          }

          img {
            height: 550px;
            width: 472.31px;
          }
        }
        .ben-logo {
          border-right: 2px solid #b4b4b41a;
          width: 18%;
          .ben-logo-top {
            height: 50%;
          }
          .ben-logo-bottom {
            height: 50%;
            justify-content: center;
            display: flex;
            align-items: flex-end;
            img {
              height: 100px;
              width: 100px;
              display: flex;
              transform: translateY(-50%);
              padding: 5px;
            }
          }
        }
      }
    }
    .image-menu {
      width: 60%;
      img {
        width: -webkit-fill-available;
        height: -webkit-fill-available;
        transform: translateX(10%);
      }
    }
  }
}

#burger-toggle {
  position: absolute;
  appearance: none;
  opacity: 0;

  &:checked {
    & ~ .menu {
      opacity: 1;
      visibility: visible;
      img,
      .title-menu .text {
        transform: translateY(0);
        transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
      }
    }

    & ~ .burger-menu {
      .line {
        &::after {
          transform: translateX(0);
        }

        &:nth-child(1) {
          transform: translateY(calc(var(--burger-menu-radius) / 5))
            rotate(45deg);
        }

        &:nth-child(2) {
          transform: scaleX(0);
        }

        &:nth-child(3) {
          transform: translateY(calc(var(--burger-menu-radius) / -5))
            rotate(-45deg);
        }
      }
    }
  }
}

.burger-menu {
  --burger-menu-radius: 42px;
  position: fixed;
  top: 5vh;
  left: 2vw;
  z-index: 100;
  display: block;
  width: var(--burger-menu-radius);
  height: var(--burger-menu-radius);
  outline: none;
  cursor: pointer;
  background-color: #b4b4b41a;
  border-radius: 7px;

  .line {
    position: absolute;
    left: 25%;
    width: 50%;
    height: 3px;
    background: #000000;
    overflow: hidden;
    transition: 0.5s;

    &:nth-child(1) {
      top: 30%;
    }

    &:nth-child(2) {
      top: 50%;
    }

    &:nth-child(3) {
      top: 70%;
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--primary-color-darker);
      transform: translateX(-100%);
      transition: 0.25s;
    }

    @for $i from 2 through 3 {
      &:nth-child(#{$i})::after {
        transition-delay: 0.1s * ($i - 1);
      }
    }
  }

  &:hover {
    .line::after {
      transform: translateX(0);
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  overflow-x: hidden;
  visibility: hidden;
  transition: 0.3s;

  &-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;

    @include sp-layout {
      flex-direction: column;
    }

    &-item {
      flex: 1;
    }

    &-link {
      position: relative;
      display: inline-flex;
      font-size: 2rem;
      color: black;
      text-decoration: none;

      span {
        overflow: hidden;

        div {
          transform: translateY(102%);
        }
      }

      &::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        background: var(--primary-color);
        // transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
}
