@import "../../styles/common.scss";

.header-container {
  .navigator-menu {
    background: linear-gradient(-182deg, #fff0 60%, var(--dark) 0 100%);
  }
  z-index: 99;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(-182deg, #fff0 60%, var(--dark) 0 100%);
  color: var(--yellow);
  height: 40px;
  position: relative;
  .btn-logout {
    color: var(--yellow);
    line-height: 40px;
    height: 40px;
    padding: 0 10px;
    &:hover {
      background-color: var(--yellow);
    }
    i {
      font-size: $base-size + 1px;
    }
  }
}
